@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: rgb(20, 19, 19);
}

body {
  font-family: "Source Code Pro", monospace;
}

bg-dark {
  background-color: rgb(20, 19, 19);
}

bg-light {
  background-color: rgb(250, 250, 250);
}